<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<form class="form-horizontal" [formGroup]="form">
  <div class="form-group">
    <div class="col-sm-12">
      <label for="num" class="control-label">Calculate square: </label>
      <input type="text" id="num" class="form-control" formControlName="num" autocomplete="false">
      <div style="display: inline;">{{output}}</div>
    </div>
  </div>
</form>